@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="map"></div>

<script src="~/Scripts/Map/index.js"></script>
<script>
     $(function () {
        index.init()
    });
</script>